<div class="col-lg-6">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i>Deducible
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Monto</th>
          <th>Editar</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>60000</td>
          <td>Geskep</td>
          <td>Inversion</td>
          <td>
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
              <button type="button" class="btn btn-block btn-primary active" aria-pressed="true">Editar</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>
</div>
