<div class="card col-6">
  <div class="card-header">
    <strong>Desembolso</strong>
  </div>
  <div class="card-body">
    <div class="form-group col-5 d-inline-flex">
      <label class="col-md-3 col-form-label" for="name">Nombre</label>
      <div class="col-md-9">
        <input type="text" id="name" class="form-control" [(ngModel)]="deductible.name">
      </div>
    </div>
    <div class="form-group col-4 d-inline-flex">
      <label class="col-md-3 col-form-label" for="amount">Monto</label>
      <div class="col-md-9">
        <div class="input-group">
          <input type="number" id="amount" class="form-control" [(ngModel)]="deductible.amount">
          <div class="input-group-append" dropdown>
            <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle>{{symbol}}
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu style="min-width: 50px;">
              <a class="dropdown-item" (click)="symbol='$'">$</a>
              <a class="dropdown-item" (click)="symbol='%'">%</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col-3 d-inline-flex">
      <label class="col-md-8 col-form-label">Obligatorio</label>
      <div class="col-md-4">
        <label class="switch switch-label switch-success" style="margin-top: 5px;">
          <input type="checkbox" class="switch-input" [(ngModel)]="deductible.required">
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-sm btn-primary" (click)="save()"><i class="fa fa-save"></i> Guardar</button>&nbsp;
    <a [routerLink]="['../']" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i> Cancelar</a>
  </div>
</div>
