<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="nav-icon icon-user"></i> Lista de Usuarios
      <a class="btn btn-sm btn-success float-right" [routerLink]="['../new']"><b>+</b> Crear Usuario</a>
    </div>
    <div class="card-body" no-padding-horizontal>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nombre de Usuario</th>
          <th>Correo Electronico</th>
          <th>Rol</th>
          <th>Estado</th>
          <th>Fecha de Creación</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td><a [routerLink]="['../'+user._id]">{{user.username}}</a></td>
          <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
          <td>{{user.role}}</td>
          <td>
            <span class="badge badge-{{user.active? 'success' : 'danger'}}">{{user.active? 'Active' : 'Inactive'}}</span>
          </td>
          <td>{{user.createdAt | date:'short'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <ul class="pagination d-none">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>
</div>
