<div class="card">
  <div class="card-header">
    <strong>Desembolso</strong>
  </div>
  <div class="card-body">
    <form action="" method="post">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="type">Asociado</label>
        <div class="col-md-9">
          <select id="type" name="type" class="form-control">
            <option value="0">Samuel Luis</option>
            <option value="1">Joel Espinal</option>
          </select>
        </div>
      </div>
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Deducible</th>
                    <th>Tipo</th>
                    <th>Monto</th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>
                      <div class="form-group row">
                        <div class="col-md-9">
                          <select id="deducible" name="deducible" class="form-control">
                            <option value="0">Internet</option>
                            <option value="1">Agua</option>
                          </select>
                        </div>
                      </div>
                    </th>
                    <th>
                      <div class="form-group row">
                        <div class="col-md-9">
                          <input type="text" id="outlay-type" name="amount" disabled class="form-control" placeholder="Fijo">
                        </div>
                      </div>
                    </th>
                    <th>
                      <div class="form-group row">
                        <div class="col-md-9">
                          <input type="text" id="amount" name="amount" disabled class="form-control" placeholder="3000">
                        </div>
                      </div>
                    </th>
                    <th>
                      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                        <button class="btn btn-block btn-primary" type="button">+</button>
                      </div>
                    </th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Internet</td>
                    <td>Fijo</td>
                    <td>Monto</td>
                    <td>
                      <button aria-pressed="true" class="btn btn-block btn-danger active" type="button">-</button>
                    </td>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
             </div>
            </div>
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
      </div>

    </form>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Guardar</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Limpiar</button>
    </div>
  </div>
</div>
