<div class="card">
  <div class="card-header">
    <strong>Asociado</strong>
  </div>
  <div class="card-body">
    <form action="" method="post">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="fist-name">Asociado</label>
        <div class="col-md-9">
          <input type="text" id="fist-name" name="fist-name" class="form-control" placeholder="Jone Allen">
          <span class="help-block">Ingrese el nombre</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="last-name">Apellido</label>
        <div class="col-md-9">
          <input type="text" id="last-name" name="last-name" class="form-control" placeholder="Smith">
          <span class="help-block">Ingrese sus apellidos</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="id-card">Cedula</label>
        <div class="col-md-9">
          <input type="text" id="id-card" name="id-card" class="form-control" placeholder="000-0000000-1">
          <span class="help-block">Ingrese su cedula de identidad</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="dob">Fecha de nacimiento</label>
        <div class="col-md-9">
          <input type="text" id="dob" name="dob" class="form-control" placeholder="20/01/1990">
          <span class="help-block">Ingrese su fecha de nacimiento</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="description">Descripcion</label>
        <div class="col-md-9">
          <textarea id="description" name="description" rows="9" class="form-control" placeholder="Descripcion"></textarea>
        </div>
      </div>
    </form>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Guardar</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Limpiar</button>
    </div>
  </div>
</div>




