<div class="card">
  <div class="card-header">
    <strong>Ingreso</strong>
  </div>
  <div class="card-body">
    <form action="" method="post">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="income">Usuario</label>
        <div class="col-md-9">
          <input type="text" id="income" name="income" class="form-control" placeholder="50000">
          <span class="help-block">Ingrese el monto</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="associated">Asociado</label>
        <div class="col-md-9">
          <select id="associated" name="associated" class="form-control">
            <option value="user">John Smith</option>
            <option value="sudo">Mario Bross</option>
          </select>
        </div>
      </div>
    </form>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Guardar</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Limpiar</button>
    </div>
  </div>
</div>
