<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="nav-icon icon-wallet"></i> Desembolsos
      <a class="btn btn-sm btn-success float-right" [routerLink]="['../new']"><b>+</b> Registrar Desembolso</a>
    </div>
    <div class="card-body" no-padding-horizontal>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Fecha Efectiva</th>
          <th>Asociado</th>
          <th>Monto</th>
          <th>Total Ingresos</th>
          <th>Total Deducibles</th>
          <th>Fecha de Creación</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let outlay of outlays">
          <td>{{outlay.date | date:'shortDate':'UTC'}}</td>
          <td><a [routerLink]="['/associated/'+outlay.associatedId]">{{outlay.associated.firstName}} {{outlay.associated.lastName}}</a></td>
          <td>{{outlay.amount}}</td>
          <td>{{outlay.totalIncomes}}</td>
          <td>{{outlay.totalDeductibles}}</td>
          <td>{{outlay.createdAt | date:'short'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <ul class="pagination d-none">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>
</div>
